body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 40px;
}
.half-width img{
    width: 80%;
    border-radius: 20px;
}
.red{
    color: red;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    

}
#banner{
    background-image: url(images/Frame\ 58.jpg);
}
.centre{
    text-align: center;
}
.width{
    width: 30%;
    box-shadow: 10px 10px 40px gray;
    border: 15px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    margin-left: 3%;
    margin-right: 2%;
}
.width img{
    width: 100%;
    border-radius: 20px;
   
}
.box{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    border: 10px solid rgb(11, 11, 12);
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    margin-left: 5%;
    margin-right: 5%;
    
}
.box img{
    width: 100%;
    border-radius: 20px;
}
#footer{
    color: white;
    background-color:rebeccapurple;
}


